Hello,
<% if @horse.present? %>
<p> <%= @horse.name %></p>
<% end %>

<p> <%= @reminder.body%> </p>

<% if @reminder.date.present? %>
<p> <%= @reminder.date.strftime(' %B %d, %Y at %l:%M') %></p>
<% end %>
