<div class="row">
  <div class="col-md-7 d-flex justify-content-center">
    <div class="card" style="padding:10px">
    <h3> <%= @reminder.body %> <%= @reminder.horse&.name %> </h3>
    <p>I will do something with this eventually. It sort of exists just so the link goes somewhere.</p>
  </div>
  </div>
</div>
