<h1>Horses</h1>
<div class="row d-flex">
<% @horses.each do |horse| %>

<div class="col-md-4">
  <div class="card" style="margin:10px">
    <div class="row d-flex">
  <div class="col-sm-5" style="background-image:url(<%= horse.avatar_url.url(:small)%>); height:200px; width:200px; background-size:cover" >
 </div>
 <div class="col-sm">
   <div class="card-text">
   <h2><%= link_to horse.name, horse_path(horse)  %> </h2>
 </div>
 </div>
</div>
</div>
</div>

<% end %>

</div>
