<div class="row">
<% @horses.each do |horse| %>

<div class="card col-md-4">
  <% if horse.avatar_url.present? %>
  <%= image_tag horse.avatar_url.url, class: "card-img"  %>
  <% end %>
  <div class="card-block">
    <%= link_to horse_path(horse) do %>
            <h4 class="card-title">
            <%= horse.name %>
          </h4>
            <% end %>
    <p class="card-text">This is a  card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
  </div>
</div>
<% end %>

</div>
