<h1>Dashboard</h1>
<div class="row d-flex">
  <div class="col-md">
    <div class="card dash">
      <div class="card-block">
      <h3> Reminders </h3>
    </div>
  </div>
</div>
  <div class="col-md">
    <div class="card dash">
      <h3> Recent Rides/Training Sessions </h3>
    </div>
  </div>
  <div class="col-md">
      <div class="card dash">
        <h2> calendar </h2>
      </div>
        <div class="card dash">
          <h2> Weather </h2>
        </div>
  </div>
</div>
