<div class="panel" style="background-image: url('https://lh3.googleusercontent.com/SDR-UBI5PE3lTP_QmqGniohupl3RVTMo9Cge30IlsmlvkEwfNpjTCAnf4l3RikZqlANm_CIJW5xFT6AQ5ePe0BQMnY5lfpTKXXMyAenb-iXjeURT1NUiCxRUTcESWn9A6C0rZiA_DYIp7-TgIgmJ2Zl2f_fjbg7GVhcdNUNkv3TBms2vIB2UxNyRUaA_WpU_385hy3jHEFKU-KUBk67gFEtBlDyo8kAhaxte2PSdrz4QJkjTNW_Q-_uRB_GlTDacSNfIJW4tCBh_sU5HrjwQzORb6B_szqY50yEeeag1U5i_nUdfbeqE8uJ8fhmK-BYYvozQ3ZOvGDrnKcqpJyL33ZlH_1ZM_hsOIAlzPvxjvAChSTnqW-9nxgO9eV49g44r1Jujc2UzC7nX7H2C8DDA1K-b_jxfc8ydPhsJWL8_iPVVozC3nzC_KYS_oq7Ou61sni6Okrqr841vju0FFB7-DoH_4fGks9BYDfq_Oew8q9j9HVr6oLi-9UC2cYK1OjlI1QCfLlUJbfBzvFN85XjNZ3EmMEvwKsOQVo0AchM8NhzHKqXA4s7sRdxDxuNctQufUMOIistVFqzPJZ5B9ijrfET9fCPaZvLAtuagAx8mxDk=w530-h706-no')">
  <h2 class="panel-text">A modern equestrian management app for all riders </h2>
</div>
<div class="panel" style="background:purple">
  <h2> Features </h2>
    <ul>
      <li>Web platform</li>
      <li> Write as little or as much as you want.</li>
      <li> Calender of past rides and reminders</li>
      <li>Current weather and weather forecast</li>
      <li>Track and reflect on past rides. Was the right lead always easy? Is that rock always terrifying? </li>
      <li>Schedule reminders</li>
      <li>Keep notes on each horse</li>
      <li>Great for lesson students, leasers, horse owners, trainers and more.</li>
      <li>Additonal features for coaches, trainers and barn managers planned</li>
      <li>Possible mobile app and offline client</li>
    </ul>
</div>
<div class="panel" style="background-image: url(https://scontent-sea1-1.xx.fbcdn.net/v/t1.0-9/14463198_10100632882930556_1202815160442553079_n.jpg?oh=d4ff55408912c1b8dd7af2ad89063367&oe=5AC8F499)">
  <h2 class="panel-text"> Plan. Practice. Track. Reflect. Achieve.</h2>
</div>
