<h1>Welcome!</h1>

<p>Manage and track your riding life</p>

<p>Features to look forward to</p>

<ul>
  <li>Add horses</li>
  <li>Add posts - about your rides or training/groundwork session</li>
  <li>Add notes on your horses - track any issues etc</li>
  <li>Data - how often do you ride?</li>
  <li>Filter by horse, category</li>
  <li>Share to social media</li>
  <li>Create google calandar events if signed in? </li>
  <li>Add video?</li>
  <li>Contacts</li>
  <li>Goals </li>
  <li>Follow people?</li>
  <li>Public posts?</li>
  <li>Search?</li>
  <li>Horsey places nearby?</li>
  <li>Add photos from facebook and instagram?</li>
  <li>Add lists? Google tasks?</li>
</ul>

if lesson show trainer field
