  <%= form_for [@horse, @log], remote:true do |f| %>
  <% if @log.errors.present? %>
  <p>
    <%= @log.errors.full_messages.join(', ') %>
  </p>
  <% end %>
  <div>
    <%= f.text_area :body, class:"form-control" %>
  </div>
  <%= f.submit "Add a note for #{@horse.name}", class: "btn btn-primary" %>
  <% end %>
