<div class="card col-md-5" style="padding: 10px; margin: 5px">
  <div class="card-block">
  <%=log.body %>

   <div class="badge badge-info" style="float:right"><%= log.created_at.strftime('%b %d %Y') %> </div>
 </div>
</div>
